<!--start sidebar -->
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
      <div>
        <img src="../../../assets/images/logo-sg-motos.png" class="logo-icon" alt="logo icon">
      </div>
      <!-- <div>
        <h4 class="logo-text">SG-Motos</h4>
      </div> -->
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
      <li>
        <a href="index.html">
          <div class="parent-icon">
            <ion-icon name="home-outline"></ion-icon>
          </div>
          <div class="menu-title">Inicio</div>
        </a>
      </li>
      <li class="menu-label">Manejo General</li>
      <li>
        
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <ion-icon name="file-tray-stacked-outline"></ion-icon>
          </div>
          <div class="menu-title">Stock</div>
        </a>
        <ul>
          <li><a href="ecommerce-shop-grid-view-top-filter.html">
            <ion-icon name="ellipse-outline"></ion-icon> Listado stock
          </a>
          </li>

          <li><a href="ecommerce-shop-grid-view-top-filter.html">
            <ion-icon name="ellipse-outline"></ion-icon> Agregar stock
          </a>
          </li>

          <li><a href="ecommerce-shop-grid-view.html">
              <ion-icon name="ellipse-outline"></ion-icon> Motos Usadas
            </a>
          </li>
          <li><a href="ecommerce-shop-list-view.html">
              <ion-icon name="ellipse-outline"></ion-icon> Motos Nuevas
            </a>
          </li>
          
          
        </ul>
      </li>
      <li class="menu-label">Gestionar Ventas</li>
      <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <ion-icon name="search-outline"></ion-icon>
          </div>
          <div class="menu-title">Diagnostico</div>
        </a>
        <ul>
          <li> <a href="widgets-static-widgets.html">
              <ion-icon name="ellipse-outline"></ion-icon>Presupuesto
            </a>
          </li>
          <li> <a href="widgets-data-widgets.html">
              <ion-icon name="ellipse-outline"></ion-icon>Orden de Reaparacion
            </a>
          </li>
        
        </ul>
      </li>

      <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <ion-icon name="briefcase-outline"></ion-icon>
          </div>
          <div class="menu-title">Services</div>
        </a>
        <ul>
          <li> <a href="widgets-static-widgets.html">
              <ion-icon name="ellipse-outline"></ion-icon>Presupuesto
            </a>
          </li>
          <li> <a href="widgets-data-widgets.html">
              <ion-icon name="ellipse-outline"></ion-icon>Orden de Reaparacion
            </a>
          </li>

        </ul>
      </li>

      <a href="javascript:;">
        <ion-icon name="cash-outline"></ion-icon>
        <div class="menu-title">Listado de Precios</div>
      </a>

      <a href="javascript:;">
        <ion-icon name="list-outline"></ion-icon>
        <div class="menu-title">Historial de Clientes</div>
      </a>

      <a href="javascript:;">
        <ion-icon name="bar-chart-outline"></ion-icon>
      <div class="menu-title">Estadisticas</div>
    </a>


      <li class="menu-label">Personas y Motos</li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <ion-icon name="accessibility-outline"></ion-icon>
          </div>
          <div class="menu-title">Personas</div>
        </a>
        <ul>
          <li> <a href="admin/tipo-personas">
              <ion-icon name="ellipse-outline"></ion-icon>Tipo de Personas
            </a>
          </li>
          <li> <a href="component-accordions.html">
              <ion-icon name="ellipse-outline"></ion-icon> Listado de Personas
            </a>
          </li>
          <li> <a href="component-badges.html">
              <ion-icon name="ellipse-outline"></ion-icon> Proveedores
            </a>
          </li>

          <li> <a href="component-badges.html">
            <ion-icon name="ellipse-outline"></ion-icon> Clientes
          </a>
          </li>

          <li> <a href="component-badges.html">
            <ion-icon name="ellipse-outline"></ion-icon> Usuarios
          </a>
          </li>
          
        </ul>
      </li>

      
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <ion-icon name="bicycle-outline"></ion-icon>
          </div>
          <div class="menu-title">Motos</div>
        </a>
        <ul>
          <li> <a href="icons-line-icons.html">
              <ion-icon name="ellipse-outline"></ion-icon>Tipo de Motos
            </a>
          </li>
          <li> <a href="icons-boxicons.html">
              <ion-icon name="ellipse-outline"></ion-icon> Motos
            </a>
          </li>
          <li> <a href="icons-feather-icons.html">
              <ion-icon name="ellipse-outline"></ion-icon>Crear Motos
            </a>
          </li>
        </ul>
      </li>

      <li class="menu-label">Padrones</li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <ion-icon name="happy-outline"></ion-icon>
          </div>
          <div class="menu-title">Para Personas</div>
        </a>
        <ul>
          <li> <a href="admin/tipo-personas">
              <ion-icon name="ellipse-outline"></ion-icon>Tipo de Personas
            </a>
          </li>
          <li> <a href="component-accordions.html">
              <ion-icon name="ellipse-outline"></ion-icon> Roles
            </a>
          </li>
          <li> <a href="component-badges.html">
              <ion-icon name="ellipse-outline"></ion-icon> Usuarios
            </a>
          </li>

          <li> <a href="admin/localidades">
            <ion-icon name="ellipse-outline"></ion-icon> Localidades
          </a>
          </li>
          
        </ul>
      </li>

      
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <ion-icon name="hammer-outline"></ion-icon>
          </div>
          <div class="menu-title">Para Motos</div>
        </a>
        <ul>
          <li> <a href="icons-line-icons.html">
              <ion-icon name="ellipse-outline"></ion-icon>Marcas
            </a>
          </li>
          <li> <a href="icons-boxicons.html">
              <ion-icon name="ellipse-outline"></ion-icon> Tipo de Motos
            </a>
          </li>
          <li> <a href="icons-feather-icons.html">
              <ion-icon name="ellipse-outline"></ion-icon> Datos de Servicio
            </a>
          </li>
        </ul>
      </li>


      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <ion-icon name="albums-outline"></ion-icon>
          </div>
          <div class="menu-title">Para Stock</div>
        </a>
        <ul>
          <li> <a href="admin/tipo-articulo">
              <ion-icon name="ellipse-outline"></ion-icon>Tipo de Articulos
            </a>
          </li>

          <li> <a href="admin/tipo-movimientos">
            <ion-icon name="ellipse-outline"></ion-icon>Tipo de Movimientos
          </a>
        </li>
          
        </ul>
      </li>
      
    </ul>
    <!--end navigation-->
  </aside>
