<!--start sidebar -->
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
      <div>
        <img src="../../../assets/images/logo-sg-motos.png" class="logo-icon" alt="logo icon">
      </div>
      <div>
        <h4 class="logo-text">SG-Motos</h4>
      </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
      <li>
        <a href="index.html">
          <div class="parent-icon">
            <ion-icon name="home-outline"></ion-icon>
          </div>
          <div class="menu-title">Inicio</div>
        </a>
      </li>
      <li class="menu-label">Manejo General</li>
      <li>
        
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <ion-icon name="file-tray-stacked-outline"></ion-icon>
          </div>
          <div class="menu-title">Stock</div>
        </a>
        <ul>
          <li><a href="ecommerce-shop-grid-view.html">
              <ion-icon name="ellipse-outline"></ion-icon> Motos Usadas
            </a>
          </li>
          <li><a href="ecommerce-shop-list-view.html">
              <ion-icon name="ellipse-outline"></ion-icon> Motos Nuevas
            </a>
          </li>
          <li><a href="ecommerce-shop-grid-view-top-filter.html">
              <ion-icon name="ellipse-outline"></ion-icon> Agregar stock
            </a>
          </li>
          
        </ul>
      </li>
      <li class="menu-label">Utilidades</li>
      <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <ion-icon name="briefcase-outline"></ion-icon>
          </div>
          <div class="menu-title">Pedidos</div>
        </a>
        <ul>
          <li> <a href="widgets-static-widgets.html">
              <ion-icon name="ellipse-outline"></ion-icon>Terminados
            </a>
          </li>
          <li> <a href="widgets-data-widgets.html">
              <ion-icon name="ellipse-outline"></ion-icon>Pendientes
            </a>
          </li>

          <li> <a href="widgets-data-widgets.html">
            <ion-icon name="ellipse-outline"></ion-icon>Crear Nuevo
          </a>
        </li>
        
        </ul>
      </li>

      <a href="javascript:;">
        <ion-icon name="cash-outline"></ion-icon>
        <div class="menu-title">Listado de Precios</div>
      </a>

      <a href="javascript:;">
        <ion-icon name="bar-chart-outline"></ion-icon>
      <div class="menu-title">Estadisticas</div>
    </a>


      <li class="menu-label">Padrones</li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <ion-icon name="accessibility-outline"></ion-icon>
          </div>
          <div class="menu-title">Personas</div>
        </a>
        <ul>
          <li> <a href="component-alerts.html">
              <ion-icon name="ellipse-outline"></ion-icon>Tipo de Personas
            </a>
          </li>
          <li> <a href="component-accordions.html">
              <ion-icon name="ellipse-outline"></ion-icon> Personas
            </a>
          </li>
          <li> <a href="component-badges.html">
              <ion-icon name="ellipse-outline"></ion-icon> Crear Perona
            </a>
          </li>
          
        </ul>
      </li>

      
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <ion-icon name="bicycle-outline"></ion-icon>
          </div>
          <div class="menu-title">Motos</div>
        </a>
        <ul>
          <li> <a href="icons-line-icons.html">
              <ion-icon name="ellipse-outline"></ion-icon>Tipo de Motos
            </a>
          </li>
          <li> <a href="icons-boxicons.html">
              <ion-icon name="ellipse-outline"></ion-icon> Motos
            </a>
          </li>
          <li> <a href="icons-feather-icons.html">
              <ion-icon name="ellipse-outline"></ion-icon>Crear Motos
            </a>
          </li>
        </ul>
      </li>
      
    </ul>
    <!--end navigation-->
  </aside>
