<div class="header-container">
    <h3>Pedidos de Stock</h3>
    <p-button icon="pi pi-plus" label="Agregar Stock" [text]="true" (click)="crearVisible = true" styleClass="ml-auto"></p-button>
</div>

<app-tablang
    [data]="products"
    [columns]="columns"
    (editarClick)="editarItem($event)" 
    (eliminarClick)="eliminarItem($event)"
    (modalOpenClick)="modalOpen($event)"
></app-tablang>

<!-- <============================================ CREAR ==================================================> -->
<p-dialog header="Crear Venta" [modal]="true" [(visible)]="crearVisible" [style]="{ width: '50rem' }">
    <form [formGroup]="form" (ngSubmit)="openCantidadDialog()">
        <div class="flex align-items-center gap-3 mb-3">
            <label for="descripcion" class="font-semibold w-6rem"><strong>Nombre del Pedido</strong></label>
            <br>
            <input id="descripcion" class="flex-auto" formControlName="descripcion" />
        </div>
  
      <p-pickList 
        [source]="Articulos" 
        [target]="productos.value" 
        sourceHeader="Disponibles" 
        targetHeader="Seleccionados" 
        dragdrop="true" 
        sourceStyle="" 
        targetStyle="" 
        (onMoveToTarget)="agregarProductoDesdePickList($event)" 
        (onMoveToSource)="eliminarProductoDesdePickList($event)">
        <ng-template let-item pTemplate="item">
          <div class="product-item">
            <h5>{{ item.nombre_articulo }}</h5>
          </div>
        </ng-template>
      </p-pickList>
  
      <div class="flex justify-content-end gap-2 mt-3">
        <p-button class="mr-1" label="Siguiente" icon="pi pi-arrow-right" [text]="true" severity="success" type="submit"></p-button>
        <p-button label="Cancelar" icon="pi pi-times" [text]="true" severity="danger" (click)="crearVisible = false"></p-button>
      </div>
    </form>
  </p-dialog>

<!-- <============================================ ESPECIFICAR CANTIDAD ==================================================> -->
  <p-dialog header="Especificar Cantidad" [modal]="true" [(visible)]="cantidadVisible" [style]="{ width: '50rem' }">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div formArrayName="productos">
        <div *ngFor="let producto of productos.controls; let i = index" [formGroupName]="i" class="flex align-items-center gap-3 mb-3">
          <label>{{ producto.get('nombre_articulo')?.value }}</label>
          <br>
          <input type="number" formControlName="cantidad" min="1" class="flex-auto" />
          <button type="button" class="p-button p-component p-button-danger" (click)="eliminarProducto(i)" style="margin-left: 1em;">
            <span class="p-button-icon pi pi-times"></span>
          </button>
        </div>
      </div>
      <div class="flex justify-content-end gap-2 mt-3">
        <p-button class="mr-1" label="Guardar" icon="pi pi-check" [text]="true" severity="success" type="submit"></p-button>
        <p-button label="Cancelar" icon="pi pi-times" [text]="true" severity="danger" (click)="cantidadVisible = false"></p-button>
      </div>
    </form>
  </p-dialog>

<!-- <============================================ EDITAR ==================================================> -->
<p-dialog header="Crear Venta" [modal]="true" [(visible)]="editVisible" [style]="{ width: '50rem' }">
    <form [formGroup]="form" (ngSubmit)="openCantidadDialog()">
        <div class="flex align-items-center gap-3 mb-3">
            <label for="descripcion" class="font-semibold w-6rem"><strong>Nombre del Pedido</strong></label>
            <br>
            <input id="descripcion" class="flex-auto" formControlName="descripcion" />
        </div>
  
      <p-pickList 
        [source]="Articulos" 
        [target]="productos.value" 
        sourceHeader="Disponibles" 
        targetHeader="Seleccionados" 
        dragdrop="true" 
        sourceStyle="" 
        targetStyle="" 
        (onMoveToTarget)="agregarProductoDesdePickList($event)" 
        (onMoveToSource)="eliminarProductoDesdePickList($event)">
        <ng-template let-item pTemplate="item">
          <div class="product-item">
            <h5>{{ item.nombre_articulo }}</h5>
          </div>
        </ng-template>
      </p-pickList>
  
      <div class="flex justify-content-end gap-2 mt-3">
        <p-button class="mr-1" label="Siguiente" icon="pi pi-arrow-right" [text]="true" severity="success" type="submit"></p-button>
        <p-button label="Cancelar" icon="pi pi-times" [text]="true" severity="danger" (click)="crearVisible = false"></p-button>
      </div>
    </form>
  </p-dialog>

<!-- <============================================ ELIMINAR ==================================================> -->
<p-dialog header="Eliminar Stock" [modal]="true" [(visible)]="editEliminar" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">Desea usted eliminar este objeto?</span>
    <br>
    <br>
    <div class="flex justify-content-end gap-2">
        <p-button class="mr-1" icon="pi pi-check"  [text]="true" severity="success" (click)="Eliminar()" />
        <p-button icon="pi pi-times"  [text]="true" severity="danger" (click)="editEliminar = false" />
    </div>
</p-dialog>

 <!-- <============================================ MOSTRAR DATA ==================================================> -->
 <p-dialog header="Detalles del Pedido" [modal]="true" [(visible)]="detailModal" [style]="{ width: '50rem' }">
    <div class="p-fluid">
        <div class="field">
            <label for="cliente"><strong>Descripcion:</strong></label>
            <span id="cliente"> {{ cardData?.descripcion }}</span>
        </div>
        <br>
        <br>
        <br>
  
        <div class="field">
            <label for="stock"><strong>Detalles de los Artículos:</strong></label>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Proveedor</th>
                        <th>Costo</th>
                        <th>Total</th>
                        <th>Cantidad Solicitada</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cardData?.Pedido">
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.proveedor}}</td>
                        <td>{{ item.costo | currency }}</td>
                        <td>{{ item.total | currency }}</td>
                        <td class="text-center">{{ item.cantidad }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>
  
    <div class="flex justify-content-end gap-2">
        <p-button icon="pi pi-times" (click)="detailModal = false"></p-button>
    </div>
  </p-dialog>