<p-table #dt [value]="data" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" class="custom-datatable">
  <ng-template pTemplate="header" class="p-overlaypanel-header p-component-header">
    <tr>
      <th *ngFor="let col of columns">{{ col.header }}</th>
      <th *ngIf="acciones">Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td (click)="modalOpen(rowData)" *ngFor="let col of columns">{{ rowData[col.field] }}</td>
      <td *ngIf="acciones">
        <ng-container *ngIf="insumos">
          <p-button icon="pi pi-plus" [text]="true" severity="info" (click)="asignarInsumos(rowData)" pTooltip="Asignar Insumos"></p-button>
        </ng-container>
        <ng-container *ngIf="pdf">
          <p-button icon="pi pi-file-pdf" [text]="true" severity="warning" (click)="pdfClick(rowData)" pTooltip="Ver PDF"></p-button>
        </ng-container>
        <p-button icon="pi pi-pencil" [text]="true" (click)="editar(rowData)"></p-button>
        <p-button icon="pi pi-trash" [text]="true" severity="danger" (click)="eliminar(rowData)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>